
<!-- <app-movies></app-movies> -->

<app-carousel></app-carousel>

<!-- test routing links -->
<!-- <ul>
  <li><a routerLink="/wiki" routerLinkActive="active">Wikipedia</a></li>
  <li><a routerLink="/watch" routerLinkActive="active">Movie Details</a></li>
</ul> -->

<!-- <app-continue></app-continue> -->

<app-movies [header]="'Continue Watching'"></app-movies>

<app-movies [header]="'Popular Movies'"></app-movies>

<app-movies [header]="'Top Rated Movies'"></app-movies>

<app-movies [header]="'Trending Movies'"></app-movies>

<app-movies [header]="'Popular TV Shows'"></app-movies>

<app-movies [header]="'Top Rated TV Shows'"></app-movies>

<app-movies [header]="'Trending TV Shows'"></app-movies>


<!-- <app-popular></app-popular>

<app-top></app-top>

<app-trending></app-trending>

<app-tv-pop></app-tv-pop>

<app-tv-top></app-tv-top>

<app-tv-trend></app-tv-trend> -->
